<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetic_Report</title>
</head>
<body>
    <style>
        body {
          background-image: url('https://images.unsplash.com/photo-1624454002429-40ed87a5ec04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>
        

    <div class="intro">
    <h1>Diabetic_Report</h1>
</div>


    <form method="POST" action="/predict">
        <label>Glucose</label>
        <input type="text" name="Glucose">
        <br>
        <br>


        <label>BloodPressure</label>
        <input type="text" name="BloodPressure">
        <br>
        <br>

        <label>SkinThickness</label>
        <input type="text" name="SkinThickness">
        <br>
        <br>

        <label>Insulin</label>
        <input type="text" name="Insulin">
        <br>
        <br>

        <label>BMI</label>
        <input type="text" name="BMI">
        <br>
        <br>

        <label>DiabetesPedigreeFunction</label>
        <input type="text" name="DiabetesPedigreeFunction">
        <br>
        <br>

        <label>Age</label>
        <input type="text" name="Age">
        <br>
        <br>

        <input type="submit" value="PREDICT">

       
    </form>
    

    <h3>{{prediction}} </h3>

</body>
</html>